<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Контакты</title>
  </head>
  <body>

    <form action="/contact/" method="get">
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

  </body>
</html>
