{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Базовый шаблон{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "shop/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "shop/navbar.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Каталог</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li {% block menu_home_class %}{% endblock %}><a href="{% url 'home' %}">Главная</a></li>
              <li {% block menu_shop_class %}{% endblock %}><a href="{% url 'products' %}">Магазин</a></li>
              <li {% block menu_newcompany_class %}{% endblock %}><a href="{% url 'new_company' %}">Добавить компанию</a></li>
              {% if user.is_authenticated %}
                  <li {% block menu_newproduct_class %}{% endblock %}><a href="{% url 'new_product' %}">Добавить продукт</a></li>
              {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-right" action="/shop/">
                <div class="form-group">
                  <input name="s" placeholder="" class="form-control" type="text">
                </div>
                <button type="submit" class="btn btn-success">Search</button>
              </form>
              <li class="active"><a href="/admin/">Admin</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      {% block content %}
        <h1>Базовый шаблон</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      {% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'shop/jquery.min.js' %}"></script>
    <script src="{% static 'shop/ajax.js' %}"></script>
    <script src="{% static 'shop/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'shop/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
