{% extends "./base.html" %}

{% block title %}Продукты в категории {{ category.title }}{% endblock %}

{% block content %}
<h1>Продукты в категории {{ category.title }}</h1>
<p>
  <strong id="like_count">{{ category.likes }}</strong> people like this category
  {% if user.is_authenticated %}
    <a id="likes" data-catid="{{ category.id }}" class="btn btn-primary" href="/like_category/?category_id={{ category.id }}">Like</a>
    {% comment %}<button id="likes" data-catid="{{ category.id }}" class="btn btn-primary">Like</button>{% endcomment %}
  {% endif %}
</p>
{% for product in product_list %}
<h2>
  <a href="{% url 'single_product' product.id %}">
    {{ product.title }}
  </a>
</h2>
<p>{{ product.description|truncatewords:"2" }}</p>
{% endfor %}
{% endblock %}
