{% extends "./base.html" %}

{% block title %}Новая компания{% endblock %}

{% block content %}
<h1>Новая компания</h1>
<form action="{% url 'new_company' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>

{% endblock %}
