{% extends "./base.html" %}

{% block title %}Новый продукт{% endblock %}

{% block content %}
<h1>Новый продукт</h1>
<form action="{% url 'new_product' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>

{% endblock %}
