{% extends "./base.html" %}

{% block title %}Новый пользователь{% endblock %}

{% block content %}
<h1>Новый пользователь</h1>
<form action="{% url 'new_user' %}" method="post">
  {% csrf_token %}
  {{ userform.as_p }}
  {{ ownerform.as_p }}
  <input type="submit" value="Submit" />
</form>

{% endblock %}
