{% extends "./base.html" %}

{% block title %}Продукты{% endblock %}

{% block menu_shop_class %}class="active"{% endblock %}

{% block content %}
<h1>Продукты</h1>
{% for product in product_list %}
<h2>
  <a href="/shop/{{ product.id }}/">
    {{ product.title }}
  </a>
</h2>
<p>{{ product.description|truncatewords:"2" }}</p>
{% empty %}
  <p>Нет продуктов по вашему запросу</p>
{% endfor %}
{% endblock %}
