{% extends "./base.html" %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<h1>{{ product.title }}</h1>
<h2>Описание</h2>
<p>{{ product.description }}</p>
<h2>Категория</h2>
<p><a href="{% url 'category' product.category.id %}">{{ product.category }}</a></p>

{% endblock %}
